/bin/
/build/
.gradle/
/run/
/fabric/

/mc-1.21.1/
/docs/
/mc-1.21.8/
/mod/
/src_old/
/tools/
/docs/
/temp/
*.class
*.log
.idea/
*.iws
*.ipr
*.iml
.classpath
.project
.settings/
.vscode/
.DS_Store
Thumbs.db
*~
.claude/
.eclipse/
